{% extends 'person/base.html' %}
{% load i18n extras sekizai_tags %}
{% load static pagination_tags %}

{% block title %}{{ object.name }}{% endblock %} 
{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/gallery.css" %}"/>
{% endblock %}

{% block "profile" %}
  <img id="photo" src="{{ object.icon.url }}"/>
{% endblock %}

{% block "side" %}
    {% if team.charter %}
      <a href="{% url "team.charter" object.slug %}" class="btn btn-primary" disabled title=
        "{% trans "View team charter detailing responsibilities and rules." %}">{% trans "Team Charter" %}</a>
    {% endif %}
    {% if request.user in object.members.all %}
      <a href="{% url "team.leave" object.slug %}" class="btn btn-default" disabled title=
        "{% trans "Leave this team." %}">{% trans "Leave Team" %}</a>
    {% elif request.user in object.watchers.all %}
      <a href="{% url "team.unwatch" object.slug %}" class="btn btn-default" title=
        "{% trans "This means that you will no longer be kept up-to-date about this team's activities." %}">{% trans "Stop Watching Team" %}</a>
    {% else %}
      <a href="{% url "team.watch" object.slug %}" class="btn btn-default" title=
        "{% trans "Watchers are kept up-to-date about what's going on in the team, but can't take part in their work." %}">{% trans "Watch Team" %}</a>
    {% endif %}

    {% if request.user not in object.members.all %}
      {% if object.enrole == 'O' %}
        <a href="{% url "team.join" object.slug %}" class="btn btn-primary" title=
          "{% trans "Enroll yourself to become a member of this team." %}">{% trans "Join Team" %}</a>
      {% elif object.enrole in 'PT' %}
        {% if request.user in object.requests.all %}
          <a class="btn" disabled title=
            "{% trans "Your request for a team membership is pending." %}">{% trans "Request Sent" %}</a>
        {% else %}
          <a href="{% url "team.join" object.slug %}" class="btn btn-primary" title=
            "{% trans "Ask for a team membership." %}">{% trans "Request Membership" %}</a>
        {% endif %}
      {% elif object.enrole == 'C' %}
        <a class="btn" disabled title=
          "{% trans "This team uses another mode of determining its members." %}">{% trans "Membership Closed" %}</a>
      {% endif %}
    {% endif %}

    {% if object.ircrooms.count > 0 %}
      <a href="{% url "team.chat" object.slug %}" class="btn btn-default" title=
        "{% trans "Go to this team's IRC Chatroom." %} (#{{ object.ircroom }})">{% trans "Team Chatroom" %}</a>
      <a href="{% url "team.chatlogs" object.slug %}" class="btn btn-default" title=
        "{% trans "View the logs for this team's IRC Chatrooms." %} (#{{ object.ircroom }})">{% trans "Chatroom Logs" %}</a>
    {% endif %}

      <h2 title="{% trans "Your place to upload Inkscape Art!" %}">{% trans "InkSpace" %}</h1>
      <ul>
        <li><a href="{% url "resources" team=team.slug %}">{% trans "Team Galleries" %}</a></li>
      </ul>

      <h2>{% trans "Information" %}</h2>
      <ul>
        <li>
          <a>
            <label>{% trans "Members" %}</label>
            <span>{{ object.members.count|default:0 }}</span>
          </a>
        </li>
        <li>
          <a>
            <label>{% trans "Watchers" %}</label>
            <span>{{ object.watchers.all.count|default:0 }}</span>
          </a>
        </li>
      </ul>
        {% if request.user in object.peers %}
          <h2>{% trans "Join Requests" %}</h2>
          <ul>
          {% for user in object.requests.all %}     
            <li><label><a href="{{ user.get_absolute_url }}" title="{% trans "Visit profile" %}">{{ user }}</a></label>
              <span><a href="{% url "team.approve" object.slug user.username %}">&#10003;</a>
                    <a href="{% url "team.disapprove" object.slug user.username %}" class="no">&#10006;</a></span>
            </li>
          {% empty %}
            <p>None</p>
          {% endfor %}
          </ul>
        {% endif %}
      </ul>
    </div>
{% endblock %}

{% block "content" %}
  {% if object.desc %}
    <h2>{% trans "Team Details" %}</h2>
    <div class="info">
      {{ object.desc|safe }}
    </div>
  {% endif %}
  {% if object.members.count %}
    <h2>{% trans "Team Members" %}</h2>

    {% autopaginate object.members.all 20 as members %}
    <div class="photos"/>
      {% for user in members %}
        <div class="galleryitem">
          <a class="link" href="{{ user.get_absolute_url }}"><img src="{% if user.photo %}{{ user.photo.url }}{% else %}{% static "images/photo.png" %}{% endif %}" title="Full User Details"/></a>
          <p title="Full User Details"><a href="{{ user.get_absolute_url }}">{% if user == object.admin %} *{% endif %} {{ user }}</a></p>
          {% if user == request.user or object.admin == request.user %}
            <p class="minitabs">
              <a href="{% url "team.remove" object.slug user.username %}">
                <img src="{% static "mime/banner/delete.svg" %}" title="{% trans "Remove Membership" %}">
              </a>
            </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <h2>No Team Members</h2>
  {% endif %}
  {% paginate %}
{% endblock %}

