/* CSS Taken from launchpad.net

  - Copyright 2009 Canonical Ltd.
              2014 Martin Owens.

  License: AGPLv3 or later

*/

/* CSS for moderation item display */
/* General */
.moderation {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 1em 0 0.5em;
  clear: both;
  width: 100%;
  text-align: left;
  border-radius: 8px 8px 0 0;
  background-color: #eee;
}

.moderation .details {
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  text-align: left;
  border-radius: 8px 8px 0 0;
}
.moderation .details div,
.moderation .bar > div,
.moderation .bar > a {
  display: inline-block;
}

.moderation .details .index,
.moderation .bar .index {
  float: right;
  border-left: 1px solid #ddd;
  padding-left: 8px;
  margin: 0px 8px;
  vertical-align: middle;
  line-height: 28px;
}

.moderation .details .title,
.moderation .bar .title {
  padding: 4px 8px;
}

.moderation .bar a,
.moderation .bar div {
  padding: 1px;
  float: right;
  color: white;
  cursor: pointer;
  margin-bottom: -13px;
}
.moderation .bar div.approve_votes {
  background-color: white;
  color: #0c8f0c;
  margin-left: 10px;
  padding: 1px 6px 1px 8px;
  border-radius: 6px 0px 0px 6px;
  border-width: 1px 0px 1px 1px;
  border-color: #0c8f0c;
  border-style: solid;
}
.moderation .bar div.censure_votes {
  background-color: white;
  color: #9c0000;
  margin-right: 10px;
  padding: 1px 8px 1px 6px;
  border-radius: 0px 6px 6px 0px;
  border-width: 1px 1px 1px 0px;
  border-color: #9c0000;
  border-style: solid;
}
.moderation .bar a.weight {
  color: #444;
  background-color: white;
  border-top: 1px #888 solid;
  border-bottom: 1px #888 solid;
  padding: 1px 6px;
}
.moderation .bar a.censure {
  background-color: white;
  border: 1px solid #9c0000;
  padding: 1px 8px;
  color: #9c0000;
}
.moderation .bar a.i_voted {
  cursor: default !important;
}
.moderation .bar a.censure:hover,
.moderation .bar a.censure.i_voted {
  text-decoration: none;
  background-color: #ef4343;
  color: white;
}
.moderation .bar a.approve {
  background-color: white;
  border: 1px solid #0c8f0c;
  padding: 1px 8px;
  color: #0c8f0c;
}
.moderation .bar a.approve:hover,
.moderation .bar a.approve.i_voted {
  text-decoration: none;
  background-color: #5ac95a;
  color: white;
}
.moderation .body img {
  vertical-align: middle;
  margin: 5px;
}

.moderation .details .title div {
  margin-left: 50px;
}

.moderation .title.user {
  font-weight: bold;
}

.moderation .details .userphoto {
  width: 42px;
  height: 42px;
  position: absolute;
  margin-top: -12px;
  border: 1px solid #aaa;
  border-radius: 6px;
  box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2);
}

.moderation .details .flag,
.moderation.deleted .details .flag,
.moderation.deleted .details .flag.flagged,
.moderation.retained .details .flag,
.moderation.retained .details .flag.flagged {
  float: right;
  vertical-align: middle;
  line-height: 28px;
  margin: 5px 0px 8px 8px;
  background-image: url("../images/icons/flags.svg");
  background-repeat: no-repeat;
  background-size: 20px 60px;
  width: 20px;
  height: 20px;
  background-position: center -40px;
}

.moderation .details a.flag {
    cursor: pointer;
}

.moderation .details .flag:hover, 
.moderation .details .flag.flagged {
  background-position: center 0;
}

.moderation .details .flagcount {
  float: right;
}

.moderation .details .moderationstatus {
  text-transform: uppercase;
  float: left;
}

.moderation.retained .details .moderationstatus {
  color: #589967;
}

.moderation .body {
  padding: 1%;
  min-height: 4em;
}

.moderation.deleted .details {
  color: #777;
  background-color: #ccc;
}

.moderation.retained .details {
  background-color: #cae1cf;
}

.moderation.deleted a {
  color: #333;
}

.moderation.deleted .body {
  background-color: #eee;
  color: #777;
}

.resourcepic img {
  max-width: 230px;
  height: 200px;
  display: inline-block;
  margin: auto;
  vertical-align: middle;
}

.warning {
  color: black;
  border: 2px solid #9c0000;
  background-color: #ef4343;
  border-radius: 8px;
  padding: 10px;
}
.warning a {
  color: white;
}
/* Resource review */
.resourcepic,
.resourcedesc,
.resourceinfo {
  display: table-cell;
}

.resourcepic {
  width: 250px;
  border-right: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
}

.resourcepic .aligner {
  display: inline;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  height: 100%;
  width: 100%;
}

.resourcepic img {
  max-width: 230px;
  max-height: 200px;
  display: inline-block;
  margin: auto;
  vertical-align: middle;
}
.resourcepic iframe {
  width: 230px;
  margin: auto;
  display: block;
}

.resourcepic .button {
  width: 60%;
  text-align: center;
  display:block;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: bottom;
  padding: 6px;
}
.resourcedesc {
  padding: 6px 20px;
  min-height: 200px;
  width: 340px;
  vertical-align: top;
}

.resourceinfo {
  border-left: 1px #ddd solid;
  text-align: center;
  vertical-align: top;
  overflow:hidden;
  padding: 6px 10px;
  width: 250px;
}

.resourceinfo dl {
  font-size: 15px;
  line-height: 17px;
  width: 100%;
  overflow: hidden;
  padding: 8px 12px;
  margin: 0px 0px 7px 0px;
}

.resourceinfo dd {
  float: left;
  margin: 0px;
}

.resourceinfo dt {
  padding:0px;
  clear:left;
  float:left;
  margin-right:8px;
  color:#888;
}
