{% extends 'resources/resource_base.html' %}
{% load i18n extras static %}

{% block "description" %}
  <form name="resourceForm" id="resourceForm" method="post" enctype="multipart/form-data" data-quota="{{ form.get_space }}">
    {% csrf_token %}

    <div class="image {% if form.link_mode %}linker{% elif form.paste_mode %}paster{% else %}uploader{% endif %}">
      {% if form.download %}
        {% if not form.paste_mode %}
          <label for="id_download" {% if object.download %}data-filename="{{ object.filename }}"{% endif %}>
            {% if object.mime.is_image %}
              <img src="{{ object.thumbnail_url }}" data-static="{% static "" %}"/>
              <p>{% trans "Replace image:" %} {{ object.filename }}</p>
            {% elif object and object.download %}
              <img src="{{ object.icon_url }}" data-static="{% static "" %}"/>
              <p>{% trans "Replace file:" %} {{ object.filename }}</p>
            {% else %}
              <img src="{% static "images/upload.svg" %}" data-static="{% static "" %}"/>
              <p>{% trans "Choose a file..." %}</p>
            {% endif %}
          </label>
        {% endif %}
        {{ form.download|placeholder:_("Paste your text here") }}
        {% if form.download.errors %}
          <div class="errors">{{ form.download.errors }}</div>
        {% endif %}
      {% endif %}

      {% if form.link_mode %}
	<label for="id_rendering">
	  <img src="{% static "images/link.svg" %}" alt="{% trans "Click to add screenshot or preview." %}"/>
	  <p>{{ form.link.label }}</p>
	</label>
        <div id="linker">{{ form.link|placeholder:_("Paste your URL here") }}</div>
      {% elif form.rendering %}
	<label for="id_rendering">
	  {% if object.rendering and object.is_resource %}
	    <img src="{{ object.rendering.url }}" alt="{% trans "Click to change" %}">
	    <p>{% trans "Replace visible image:" %} {{ object.rendering_name }}</p>
	  {% else %}
	    <img src="{% static "images/upload.svg" %}" alt="{% trans "Click to select file" %}">
	    <p>{% trans "Choose visible image..." %}</p>
	  {% endif %}
	</label>
        {{ form.rendering }}
	{% if form.rendering.errors %}
	  <div class="errors">{{ form.rendering.errors }}</div>
	{% endif %}
      {% endif %}
      <p class="coc-note">{% blocktrans %}Make sure you read the <a href="/community/coc/">code of conduct</a> for rules on posting content.{% endblocktrans %}</p>
    </div>

  {% if object and not object.category and object.next %}
    <!--Item was drag and drop uploaded, so redirect to the next item edit screen-->
    <input type="hidden" name="next" value="{% url "edit_resource" object.next.pk %}"/>
  {% endif %}

  <div class="info">
    {% if form.name %}
      <h2>{{ form.name|placeholder:_("Resource Name") }}</h2>
    {% else %}
      <div class="title">
        <h2>{{ object.name }}</h2>
        <span class="by">{% trans "by" %}
          <a href="{{ object.user.get_absolute_url }}">{{ object.user }}</a>
        </span>
      </div>
    {% endif %}
    <div class="desc{% if form.desc.errors %} descerr{% endif %}">
      {% if form.desc %}
        {{ form.desc|placeholder:_("Description of your artwork or resource") }}
      {% else %}
        {{ object.desc }}
        <hr/>
        {{ form.comment|placeholder:_("Curator's comment about what they changed.") }}
      {% endif %}
    </div>
    <div class="side">
      {% for field in form.auto %}
        <div id="{{ field.name }}_set">
          <h2 {% if field.errors %}class="error" title="{{ field.errors.as_text }}"{% endif %}>{{ field.label }}{% if field.field.required %} *{% endif %}</h2>
          {{ field }}
        </div>
      {% endfor %}
    </div>
  </div>

  <div id="item-footer" class="clearfix">
    {% if form.tags.errors %}
      <div class="error">{{ form.tags.errors.as_text }}</div>
    {% endif %}
    {{ form.tags|placeholder:_("Add your tags here, separated by comma") }}

    {% if object.published or not form.published %}
      <button type="submit" name="published" value="1" class="btn btn-default">{% trans "Save" %}</button>
      {% if form.published %}
        <button type="submit" name="published" value="" class="btn btn-danger">{% trans "Unpublish" %}</button>
      {% endif %}
    {% else %}
      <button type="submit" name="published" value="1" class="btn btn-default">{% trans "Publish" %}</button>
      <button type="submit" name="published" value="" class="btn btn-default">{% trans "Save Only" %}</button>
    {% endif %}
    </form>

    <form method="get" action="{{ cancel }}">
      <button type="submit" name="cancel" value="1" class="btn btn-default">{% trans "Cancel" %}</button>
    </form>

    <!--{% if form.link_mode %}
      <button type="button" class="btn btn-warning" onclick="checkLink();">{% trans "Get Link Info" %}</button>
      {% endif %}-->
  </div>

  </div>
{% endblock %}


